/* Temporary remove for testing */
/*
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
*/

div {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0%   { left:0px; top:0px; background:red; }
  25%  { left:200px; top:0px; background:yellow; }
  50%  { left:200px; top:200px; background:blue; }
  75%  { left:0px; top:200px; background:green; }
  100% { left:0px; top:0px; background:red; }
}
