p.one {
    border-style: solid;
    border-width: 5px 20px;   /*5px top and  button 20px on the sides*/
}

p.two {
    border-style: solid;
    border-width: 20px 5px;  /*20px top and button 5px on the sides*/
}

p.three {
    border-style: solid;
    border-width: 20px 10px 4px 35px;  /*20px top, 10px right, 4px button and 35 left*/
}
