#borderimg1 {
  border: 10px solid transparent;
  padding: 15px;
  border-image: url(border.png) 50 round;
  margin-bottom: 15px;
}

#borderimg2 {
  border: 10px solid transparent;
  padding: 15px;
  border-image: url(border.png) 20% round;
  margin-bottom: 15px;  
}

#borderimg3 {
  border: 10px solid transparent;
  padding: 15px;
  border-image: url(border.png) 30% round;
  margin-bottom: 15px;  
}

div {
  width: 300px;
  height: 100px;
  border: 15px solid transparent;
  margin: 20px;
  padding: 20px;
}

/* 1 */
#borderimg1 {
  border-image: url(border.png) 50 round;
}

/* 2 */
#borderimg2 {
  border-image: url(border.png) 20% round;
}

/* 3 */
#borderimg3 {
  border-image: url(border.png) 30% round;
}
