h1 {
    text-decoration-line: underline;
    text-decoration-thickness: auto;
}

h2 {
    text-decoration-line: underline;
    text-decoration-thickness: 5px;
}
h3 {
    text-decoration-line: underline;
    text-decoration-thickness: 25px;
}

p {
    text-decoration-line: underline;
    text-decoration-color: red;
    text-decoration-style: double;
    text-decoration-thickness: 5px;
}
