label{display: block;}

input[type=txt] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px  solid #555;
    outline: none;

    
}

input[type=txt] {
    background-color: lightblue;
}

label{display: block;}

input[type=txt] {

  width: 100%;
  padding: 12px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  transition: 0.5s;
  outline: none;

}