h1 {
    text-decoration-line: overline;
    text-decoration-color: red;
}

h2 {
    text-decoration-line: line-through;
    text-decoration-color: blue;

}
h3 {
    text-decoration-line: underline;
    text-decoration-color: green;
}

 p {
    text-decoration-line: underline overline;
    text-decoration-color: purple;
 }