/* p.normal {
    font-style: normal;
}

p.italic {
    font-size: italic;
}

p.oblique {
    font-size: oblique;
}
 */


p.normal {
    font-weight: normal
}
p.light {
    font-weight: lighter;
}

p.thick {
    font-weight: bold;
}

p.thicker {
    font-weight: 900;
}