input[type=txt] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('<a href="https://www.google.com" class="search-link">Search</a>');
    background-position: 10pxx 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;

}