.container {
    position: relative;
}

.black-box {
    position: relative;
    z-index: 1;
    border: 2px solid black;
    height: 100px;
    margin: 300px;
}

.gray-box {
    position: absolute;
    z-index: 3;
    background: lightblue;
    height: 60px;
    width: 70px;
    left: 50px;
    top: 50px;

}
.blue-box {
    position: absolute;
    z-index: 2;
    background: lightgreen;
    width: 35%;
    left: 270px;
    top: -15px;
    height: 100px;
}