body {
    background-image: url(paper.gif);
}

#div1 {
    background-color: lightgreen;
    border: 2px solid black;
    padding: 15px;

}
#div2 {
    background-color: transparent;
    border: 2px solid black;
    padding: 15px;
}