div.background {
  background: url(klematis.jpg) repeat;
  border: 2px solid black;
}

div.transbox {
  margin: 30px;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid black;
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;

}