p {
    padding: 5px;
    outline-style: solid;
    outline-color: green;
}

p.ex1 {
    outline-width: thin;
}

p.ex2 {
    outline-width: medium;
}

p.ex3 {
    outline-width: thick;
}
p.ex4 {
    outline-width: 8px;
}
