* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: #f4f4f4;
}

header {
    background: #222;
    padding: 15px 40px;
    position: sticky;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
    font-size: 26px;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.home {
    display: flex;
    justify-content: space-between;
    padding: 60px 40px;
    align-items: center;
}

.home-content h1 {
    font-size: 46px;
}

.home-content h1 span {
    color: #007bff;
}

.home-content p {
    width: 80%;
    margin: 20px 0;
}

.btn {
    background: #007bff;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.home-img img {
    width: 330px;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

.heading {
    text-align: center;
    margin: 40px 0;
    font-size: 32px;
}

.heading span {
    color: #007bff;
}

.about, .skills, .projects, .contact {
    padding: 40px;
}

.skill-box p {
    margin-top: 20px;
}

.bar {
    background: #ddd;
    border-radius: 8px;
    height: 10px;
    margin-bottom: 10px;
}

.bar span {
    display: block;
    height: 100%;
    background: #007bff;
    border-radius: 8px;
}

.project-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.project-card {
    background: #fff;
    padding: 20px;
    width: 250px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

footer {
    background: #222;
    color: #fff;
    padding: 15px;
    text-align: center;
    margin-top: 40px;
}
