#div1 {
  border-radius: 15px 50px 30px 5px;
  background: #04AA6D;
  width: 200px;
  height: 150px; 
}

#div2 {
  border-radius: 15px 50px 30px;
  background: #04AA6D;
  width: 200px;
  height: 150px; 
}

#div3 {
  border-radius: 15px 50px;
  background: #04AA6D;
  width: 200px;
  height: 150px; 
} 

#div4 {
  border-radius: 15px;
  background: #04AA6D;
  width: 200px;
  height: 150px; 
}





