body {
    font-size: 16px; /* Base font size */

}

h1 {
    font-size: 2.5em; /* 2.5 * 16 = 40px */
}

h2 {
    font-size: 1.875em; /*1.875 * 16 = 30px */
}

p {
    font-size: 1em; /*1 * 16 = 16px */
}
